.more
  padding: 137px 0 104px
  position: relative
  &__bg__circle
    position: absolute
    top: 155px
    left: 150px
    z-index: -1
  &__inner
    display: flex
    justify-content: space-between
    align-items: center
  &__left
    max-width: 670px
    width: 100%
    display: flex
    flex-direction: column
    align-items: start
  &__title
    margin-bottom: 55px
    font-size: 32px
    font-weight: 800
    line-height: 1.25
    color: $black-text
  &__subtitle
    margin-bottom: 45px
    display: block
    font-size: 18px
    font-weight: 400
    line-height: 1.38
    color: $black-text
  &__btn
    padding: 20px 55px
  &__right
    max-width: 690px
    width: 100%
    margin-right: -230px