// vars
$black-text: #111111
$white-text: #fff
$blue: #67AEFC
$light-blue: #DAECFF
$purple: #6D79EF
$green: #75E169

@import "header"
@import "intro"
@import "info"
@import "stages"
@import "example"
@import "more"
@import "contact"
@import "footer"


*
  margin: 0
  padding: 0
  box-sizing: border-box
body
  font-family: 'Montserrat',sans-serif
  line-height: 1.25
  font-size: 18px
  color: $black-text
  @media (max-width: 375px)
    min-width: 375px
  &.overflow
    @media (max-width: 600px)
      overflow: hidden
a
  text-decoration: none
  color: $white-text
img
  display: block
section
  overflow: hidden
  @media (max-width: 425px)
    overflow: visible
.container
  max-width: 1289px
  width: 100%
  margin: 0 auto
  padding: 0 60px
  @media (max-width: 600px)
    padding: 0 20px
.btn
  background-color: $green
  font-size: 15px
  font-weight: 700
  color: $white-text
  text-transform: uppercase
  text-align: center
  border-radius: 5px
  border: 2px solid transparent
  transition-duration: .5s
  &:hover
    border: 2px solid $blue
  &:active
    background-color: $blue
    color: white